<div class="page-header clear-filter"  style="background-color:transparent">
  <div class="page-header-image" data-parallax="false" >
  </div>
  <div class="container">
    <div class="content-center brand" style="text-align:center">
    
          <img class=" " style=" height:150px;" src="./assets/img/rev-logo.png" alt="">
            <!--<h3>An Efficient review engine for you</h3>-->
          <br>
          <br>
          <div class="card">
            <div class="card-block">
          <form (ngSubmit)="searchItem()">
            <div class="input-group form-group-no-border">
              <input name="search" [(ngModel)]="search" style="border: 2px solid lightgrey !important;" type="text" value="" placeholder="Search Product " class="form-control">
              <span class="input-group-addon" (click)="searchItem()">
          <i class="fa fa-search"></i>
        </span>
            </div>


            <button type="submit" hidden></button>
          </form>
      
        </div>
      </div>
    </div>
  </div>


</div>